<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <title>Dr. KHOA Clinic</title>
    <link rel="shortcut icon" href="./app.ico" type="image/x-icon">
    <link rel="stylesheet" href="./bootstrap.css" />
    <style>
        body {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .main {
            border: 2px solid black;
            display: flex;
            flex-direction: column;
            flex: 1;
            /* height: 1280px; */
            padding-top: 15px;
        }

        .header {
            display: flex;
        }

        .logo {
            height: auto;
            width: 100%;
        }

        .footer {
            align-items: center;
            border-top: 2px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;
        }

        .content {
            display: flex;
            flex-grow: 1;
            font-size: 1.25rem;
        }

        .doctor-name {
            align-items: flex-end;
            display: flex;
            justify-content: center;
            padding-bottom: 15px;
        }
    </style>
</head>

<body>
    <div class="container main">
        <div class="row header">
            <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <img alt="Dr. KHOA Clinic" class="logo" src="./logo.png" />
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h2 style="font-weight: normal;"><b>Dr. KHOA</b> Clinic</h2>
                <div class="row">
                    <div class="col-2">
                        <u>ĐT:</u>
                    </div>
                    <div class="col-10">
                        <h6>0838.131973</h6>
                    </div>
                    <div class="col-2">
                        <u>Email:</u>
                    </div>
                    <div class="col-10">
                        <h6>clinic.drkhoa@gmail.com</h6>
                    </div>
                    <div class="col-2">
                        <u>Website:</u>
                    </div>
                    <div class="col-10">
                        <h6>www.drkhoaclinic.com</h6>
                    </div>
                    <div class="col-1">
                        <u>ĐC:</u>
                    </div>
                    <div class="col-11">
                        <h6>6A, Đường 36, Phường Tân Quy, Q7, TP.HCM</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0" style="text-align: right;">Mã BN:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0" style="font-weight: bolder; text-align: right;">{patient.Id}</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0" style="text-align: right;">Ngày:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0" style="font-weight: bolder; text-align: right;">{date}</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0" style="text-align: right;">Giờ:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0" style="font-weight: bolder; text-align: right;">{time}</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0" style="text-align: right;">Số thứ tự:</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0" style="font-weight: bolder; text-align: right;">{patient.OrderNumber}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="col-12">
                <h1 style="text-align: center; margin-bottom: 3rem; text-transform: uppercase;"><b>Phiếu tiếp nhận thông
                        tin bệnh nhân</b></h1>
                <div class="row">
                    <div class="col-2">
                        <p class="mb-0" style="font-weight: bolder;">Họ tên BN:</p>
                    </div>
                    <div class="col-3">
                        <p class="mb-0" class="text-center text-uppercase">{patient.FullName}</p>
                    </div>
                    <div class="col-1">
                        <p class="mb-0" style="text-align: right;">Tuổi:</p>
                    </div>
                    <div class="col-2">
                        <p class="mb-0">{patient.Age}</p>
                    </div>
                    {patient.Gender}
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="mb-0" style="font-weight: bolder;">Địa chỉ:</p>
                    </div>
                    <div class="col-10">
                        <p class="mb-0">{patient.Address}</p>
                    </div>
                    <div class="row mb-5">
                    </div>
                    <div class="col-2">
                        <p class="mb-0" style="font-weight: bolder;">Điện thoại:</p>
                    </div>
                    <div class="col-3">
                        <p class="mb-0">{patient.PhoneNumber}</p>
                    </div>
                    <div class="col-3">
                        <p class="mb-0" style="font-weight: bolder;">Đ/T người thân:</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-0">{patient.RelativePhoneNumber}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h1 style="text-align: center; margin-bottom: 0; text-transform: uppercase;"><b>Đăng kí khám
                                bệnh</b></h1>
                        <h5 style="text-align: center; margin-bottom: 2rem; font-weight: 400;"><i>(Đăng kí tại bàn hướng
                                dẫn)</i></h5>
                        <div class="row">
                            {patient.Status}
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-4">
                                <p>Ngày hẹn (nếu có):</p>
                            </div>
                            <div class="col-8">
                                <p>{patient.AppointmentDate}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p>Chuyển lịch hẹn:</p>
                            </div>
                            <div class="col-8">
                                <p>.......................................................................................................................................
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p>Cung cấp hồ sơ bệnh án:</p>
                            </div>
                            <div class="col-8">
                                <p>.......................................................................................................................................
                                </p>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 15px; padding-right: 15px;">
                            <div class="col-4" style="padding-left: 0;">
                                <div style="border: 1px solid black; height: 100%; padding: 10px;">
                                    <h4 style="text-align: center; margin-bottom: 0;">
                                        <i>
                                            <u>Thực hiện các bước sinh học</u>
                                        </i>
                                    </h4>
                                    <h5 style="text-align: center; margin-bottom: 1rem; font-weight: 400;">
                                        <i>(Tại bàn hướng dẫn)</i>
                                    </h5>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Chiều cao:</p>
                                        </div>
                                        <div class="col-6">
                                            <p>{patient.Height} cm</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Cân nặng:</p>
                                        </div>
                                        <div class="col-6">
                                            <p>{patient.Weight} kg</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Huyết áp:</p>
                                        </div>
                                        <div class="col-6">
                                            <p>{patient.BloodPresure} mmHg</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Mạch:</p>
                                        </div>
                                        <div class="col-6">
                                            <p>{patient.Pulse} lần/phút</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Khác:</p>
                                        </div>
                                        <div class="col-6">
                                            <p>{patient.Other}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Ghi chú:</p>
                                        </div>
                                        <div class="col-6">
                                            <p></p>
                                        </div>
                                        <div class="col-12">
                                            <p>{patient.Note}</p>
                                        </div>
                                        <div class="col-12">
                                            <p>........................................................</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8" style="padding-right: 0;">
                                <div style="border: 1px solid black; height: 100%; padding: 10px;">
                                    <h4 style="text-align: center; margin-bottom: 2rem; text-transform: uppercase;">
                                        Thông tin sau khám bệnh
                                    </h4>
                                    <div class="row">
                                        <div class="col-3">
                                            <p>Tái khám:</p>
                                        </div>
                                        <div class="col-9">
                                            <p>..........................................................................................................
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <p>Bổ sung Hồ sơ:</p>
                                        </div>
                                        <div class="col-9">
                                            <p>..........................................................................................................
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <p>................................................................................................................................................
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <p>Ghi chú:</p>
                                        </div>
                                        <div class="col-9">
                                            <p>..........................................................................................................
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <p>................................................................................................................................................
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <p>................................................................................................................................................
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <p>................................................................................................................................................
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <p>................................................................................................................................................
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="margin-top: 10px; margin-bottom: 10px;">
                <div style="border: 1px solid black; height: 100%; padding: 10px; text-align: center;">
                    <h5 style="text-align: center; font-weight: 400;">
                        <i>Nhân viên hướng dẫn, kiểm tra, tiếp nhận khám</i>
                    </h5>
                    <h4 style="text-align: center; text-transform: uppercase;">Các bác sĩ hội chuẩn khám</h4>
                    <div class="row" style="justify-content: space-around; width: 50%; margin: auto;">
                        {doctors}
                    </div>
                </div>
            </div>
        </div>
</body>

</html>