<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
    <div style="margin-left: auto; margin-right: auto; max-width: 600px;">
        <div style="padding: 32px 0;">
            <div style="padding: 24px;">
                <h3 style="text-align: center;">ĐƠN THUỐC</h3>
                <div style="display: flex; flex-direction: row; flex: 1;">
                    {content}
                </div>
            </div>
        </div>
    </div>
</body>
