* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: #f4f6f8;
    height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  #root {
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .dropzone {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-width: 2px;
      border-radius: 2px;
      border-color: #eeeeee;
      border-style: dashed;
      background-color: #fafafa;
      color: #bdbdbd;
      outline: none;
      transition: border .24s ease-in-out;
      min-height: 100px;
      margin-top: 16px;
      margin-bottom: 16px;
      cursor: pointer;
  }
  